* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.box1, .box2, .box3 {
    margin-top: 20%;
    width: 30%;
    display: inline-block;
    padding: 20px 0 ;
    color: aliceblue;
    border-radius: 5px;
}
.box1 {
    background-color: rgb(9, 189, 189);
}
.box2 {
    background-color: gray;
}
.box3 {
    background-color: rgb(9, 189, 189);   
}
h3 {
    margin: 20px 0;
    font-size: 30px;
}